<div layout="row" layout-align="center center" md-theme="th">

    <div flex="30">
        <md-card style="background-color: white;">
            <md-content style="padding: 10px;">

                <div>
                    <center>
                        <div style="width: 180px; padding: 10px;">
                            <img style="width: 100%;" src="resources/icons/ambulancia.png"/>
                        </div>
                    </center>
                </div>
                
                <div layout="row" layout-align="center center">
                    <h3>Iniciar de Sesión</h3>
                </div>

                <div layout="row" layout-align="center center">
                    <div flex="70">
                        <md-input-container style="width: 98%;">
                            <label>Usuario</label>
                            <input type="text" ng-model="user" />
                        </md-input-container>
                    </div>

                </div>

                <div layout="row" layout-align="center center">
                    <div flex="70">
                        <md-input-container style="width: 98%;">
                            <label>Contraseña</label>
                            <input type="password" ng-model="password" />
                        </md-input-container>
                    </div>
                </div>

                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary">Ingresar</md-button>
                </div>

            </md-content>
        </md-card>
    </div>

</div>
