<md-progress-linear md-mode="query" ng-show="vm.isShowProgressLinear"></md-progress-linear>
<div layout="row" layout-align="center center">

    <div flex="30">
        <md-card>
            <md-content style="padding: 10px;">

                <div>
                    <center>
                        <div style="width: 180px; padding: 10px;">
                            <img style="width: 100%;" src="resources/images/ambulancia.png"/>
                        </div>
                    </center>
                </div>
                <ng-form name="loginForm" id="loginForm">
                <div layout="row" layout-align="center center">
                    <h3>Iniciar de Sesión</h3>
                </div>

                    <div layout="row" layout-align="center center">
                        <div flex="70">
                            <md-input-container style="width: 98%;">
                                <label>Usuario</label>
                                <input type="text" ng-model="vm.usuario" name="user" required />
                                <div ng-messages="loginForm.user.$error">
                                    <div ng-message="required">Campo requerido</div>
                                </div>
                            </md-input-container>
                        </div>

                    </div>

                    <div layout="row" layout-align="center center">
                        <div flex="70">
                            <md-input-container style="width: 98%;">
                                <label>Contraseña</label>
                                <input type="password" ng-model="vm.pass" name="password" required />
                                <div ng-messages="loginForm.password.$error">
                                    <div ng-message="required">Campo requerido</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>

                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-disabled="loginForm.$invalid" ng-click="vm.login()">Ingresar</md-button>
                </div>
              </ng-form>
            </md-content>
        </md-card>
    </div>

</div>
